body{

    background-color:#1D1C1A;
    margin: 0 auto;
}

p {
    color: white;
    font-size: medium;
    padding: 0 5px 0 5px;
}


.logo-titulo {

    text-align: center;
    padding: 20px 0 10px 0;
}

.contenedor-seccion {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 15px;
    
}

/* ENSALADAS */

.ensaladas {
    height: 300px;
    border-bottom: solid 1px white;
    width: 95%;
    background-image: url(/img/ensaladas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 900px){

    .ensaladas {
        height: 275px;

    }
}

@media (max-width: 700px){

    .ensaladas {
        height: 200px;

    }
}

@media (max-width: 560px){

    .ensaladas {
        height: 175px;

    }
}


@media (max-width: 400px){

    .ensaladas {
        height: 150px;

    }
}

@media (max-width: 300px){

    .ensaladas {
        height: 100px;

    }
}

/* CONTENIDO ENSALADAS */

.contenedor-ensaladas {

    display: none;
}

.contenido-ensaladas {
    text-align: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    padding: 10px;
    width: 95%;
    
}



/* /////////// FIN ENSALADAS //////////// */

/* ENTRANTES */

.entrantes {

    height: 300px;
    border-bottom: solid 1px white;
    width: 95%;
    background-image: url(/img/entrantes.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 900px){

    .entrantes {
        height: 275px;

    }
}

@media (max-width: 700px){

    .entrantes {
        height: 200px;

    }
}

@media (max-width: 560px){

    .entrantes {
        height: 175px;

    }
}


@media (max-width: 400px){

    .entrantes {
        height: 150px;

    }
}

@media (max-width: 300px){

    .entrantes {
        height: 100px;

    }
}

.contenedor-entrantes {

    display: none;
}

.contenido-entrantes {
    text-align: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    padding: 10px;
    width: 95%;
}
/* /////////// FIN ENTRANTES //////////// */

/* TOSTAS */
.tostas {
    height: 300px;
    border-bottom: solid 1px white;
    width: 95%;
    background-image: url(/img/tostas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 900px){

    .tostas {
        height: 275px;

    }
}

@media (max-width: 700px){

    .tostas {
        height: 200px;

    }
}

@media (max-width: 560px){

    .tostas {
        height: 175px;

    }
}


@media (max-width: 400px){

    .tostas {
        height: 150px;

    }
}

@media (max-width: 300px){

    .tostas {
        height: 100px;

    }
}

.contenedor-tostas {

    display: none;
}

.contenido-tostas {
    text-align: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    padding: 10px;
    width: 95%;
}

/* /////////// FIN TOSTAS //////////// */

/* MINI HAMBURGESAS */
.mini-hamburgesas {

    height: 300px;
    border-bottom: solid 1px white;
    width: 95%;
    background-image: url(/img/mini-hamburgesas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 900px){

    .mini-hamburgesas {
        height: 275px;

    }
}

@media (max-width: 700px){

    .mini-hamburgesas {
        height: 200px;

    }
}

@media (max-width: 560px){

    .mini-hamburgesas {
        height: 175px;

    }
}


@media (max-width: 400px){

    .mini-hamburgesas {
        height: 150px;

    }
}

@media (max-width: 300px){

    .mini-hamburgesas {
        height: 100px;

    }
}

.contenedor-mini-hamburgesas {

    display: none;
}

.contenido-mini-hamburgesas {
    text-align: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    padding: 10px;
    width: 95%;
}
/* /////////// FIN MINI HAMBURGESAS //////////// */

/* CARNES */

.carnes {

    height: 300px;
    border-bottom: solid 1px white;
    width: 95%;
    background-image: url(/img/carnes.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 900px){

    .carnes {
        height: 275px;

    }
}

@media (max-width: 700px){

    .carnes {
        height: 200px;

    }
}

@media (max-width: 560px){

    .carnes {
        height: 175px;

    }
}


@media (max-width: 400px){

    .carnes {
        height: 150px;

    }
}

@media (max-width: 300px){

    .carnes {
        height: 100px;

    }
}

.contenedor-carnes {

    display: none;
}

.contenido-carnes {
    text-align: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    padding: 10px;
    width: 95%;
}

/* /////////// FIN CARNES//////////// */

/* BOCADILLOS CALIENTES */

.bocadillos-calientes {

    height: 300px;
    border-bottom: solid 1px white;
    width: 95%;
    background-image: url(/img/bocadillos-calientes.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 900px){

    .bocadillos-calientes {
        height: 275px;

    }
}

@media (max-width: 700px){

    .bocadillos-calientes {
        height: 200px;

    }
}

@media (max-width: 560px){

    .bocadillos-calientes {
        height: 175px;

    }
}


@media (max-width: 400px){

    .bocadillos-calientes {
        height: 150px;

    }
}

@media (max-width: 300px){

    .bocadillos-calientes {
        height: 100px;

    }
}

.contenedor-bocadillos-calientes {

    display: none;
}

.contenido-bocadillos-calientes {
    text-align: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    padding: 10px;
    width: 95%;
}

/* /////////// FIN BOCADILLOS CALIENTES //////////// */

/* BOCADILLOS FRIOS */

.bocadillos-frios {

    height: 300px;
    border-bottom: solid 1px white;
    width: 95%;
    background-image: url(/img/bocadillos-frios.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 900px){

    .bocadillos-frios {
        height: 275px;

    }
}

@media (max-width: 700px){

    .bocadillos-frios {
        height: 200px;

    }
}

@media (max-width: 560px){

    .bocadillos-frios {
        height: 175px;

    }
}


@media (max-width: 400px){

    .bocadillos-frios {
        height: 150px;

    }
}

@media (max-width: 300px){

    .bocadillos-frios {
        height: 100px;

    }
}

.contenedor-bocadillos-frios {

    display: none;
}

.contenido-bocadillos-frios {
    text-align: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    padding: 10px;
    width: 95%;
}

/* /////////// FIN BOCADILLOS FRIOS //////////// */

/* POSTRES */
.postres {

    height: 300px;
    border-bottom: solid 1px white;
    width: 95%;
    background-image: url(/img/postres.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 900px){

    .postres {
        height: 275px;

    }
}

@media (max-width: 700px){

    .postres {
        height: 200px;

    }
}

@media (max-width: 560px){

    .postres {
        height: 175px;

    }
}


@media (max-width: 400px){

    .postres {
        height: 150px;

    }
}

@media (max-width: 300px){

    .postres {
        height: 100px;

    }
}

.contenedor-postres {

    display: none;
}

.contenido-postres {
    text-align: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    padding: 10px;
    width: 95%;
}

/* /////////// FIN POSTRES //////////// */

/* BEBIDAS */

.bebidas {

    height: 300px;
    border-bottom: solid 1px white;
    width: 95%;
    background-image: url(/img/bebidas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 900px){

    .bebidas {
        height: 275px;

    }
}

@media (max-width: 700px){

    .bebidas {
        height: 200px;

    }
}

@media (max-width: 560px){

    .bebidas {
        height: 175px;

    }
}


@media (max-width: 400px){

    .bebidas {
        height: 150px;

    }
}

@media (max-width: 300px){

    .bebidas {
        height: 100px;

    }
}

.contenedor-bebidas {

    display: none;
}

.contenido-bebidas {
    text-align: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    padding: 10px;
    width: 95%;
}

/* /////////// FIN BEBIDAS //////////// */

.pie-pagina {

    text-align: center;
}